<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

<div class="layout-container">

<div class="welcome-layout">
 <h1>WELCOME <br/> TO <br/>YOUR <br/>INVENTORY</h1> 
</div>
<div class="btnOfMoreDrones">
  <p>Check out all the drones u have!</p>
<a href="/drones">HERE</a>
</div>
</div>

    <script src="/js/script.js"></script>
  </body>

</html>